In [1]:
import pandas as pd

In [8]:
a = pd.Series([1,5,75,43])
a

0     1
1     5
2    75
3    43
dtype: int64

In [10]:
a = pd.Series([1,5,75,43] ,index=["a","b","c","d"])
a["c"]

np.int64(75)

In [11]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}


df = pd.DataFrame(data)
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.columns

Index(['name', 'age', 'city'], dtype='object')